<% layout("/layouts/boilerplate") -%>

<body>
  <!-- <h1>All Listings</h1> -->
  <div id="filters" class="mt-3 mb-3">
    <div class="filter mb-3">
      <a href="/listings">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>All Listings</p>
      </a>
    </div>

    <div class="filter mb-3">
      <a href="/listings?category=room">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>
    </div>

    <div class="filter d-none d-md-flex mb-3">
      <a href="/listings?category=city">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </a>
    </div>

    <div class="filter d-none d-md-flex mb-3">
      <a href="/listings?category=mountain">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </a>
    </div>

    <div class="filter d-none d-md-flex mb-3">
      <a href="/listings?category=pool"
        ><i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pools</p></a
      >
    </div>

    <div class="dropdown d-block d-md-none mb-3">
      <button
        class="btn btn-outline-secondary dropdown-toggle me-3"
        type="button"
        data-bs-toggle="dropdown"
      >
        More
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="/listings?category=city"
            ><i class="fa-solid fa-mountain-city"></i> Iconic Cities</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=mountain"
            ><i class="fa-solid fa-mountain"></i> Mountains</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=castle"
            ><i class="fa-brands fa-fort-awesome"></i> Castles</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=pool"
            ><i class="fa-solid fa-person-swimming"></i> Amazing Pools</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=camp"
            ><i class="fa-solid fa-campground"></i> Camping</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=farm"
            ><i class="fa-solid fa-cow"></i> Farms</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=arctic"
            ><i class="fa-regular fa-snowflake"></i> Arctic</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=dome"
            ><i class="fa-solid fa-igloo"></i> Domes</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="/listings?category=boat"
            ><i class="fa-solid fa-ship"></i> Boats</a
          >
        </li>
      </ul>
    </div>

    <div class="d-none d-md-flex flex-wrap">
      <div class="filter mb-3">
        <a href="/listings?category=castle"
          ><i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p></a
        >
      </div>

      <div class="filter mb-3">
        <a href="/listings?category=farm"
          ><i class="fa-solid fa-cow"></i>
          <p>Farms</p></a
        >
      </div>

      <div class="filter mb-3">
        <a href="/listings?category=camp"
          ><i class="fa-solid fa-campground"></i>
          <p>Camping</p></a
        >
      </div>
      <div class="filter mb-3">
        <a href="/listings?category=arctic"
          ><i class="fa-regular fa-snowflake"></i>
          <p>Arctic</p></a
        >
      </div>
      <div class="filter mb-3">
        <a href="/listings?category=dome"
          ><i class="fa-solid fa-igloo"></i>
          <p>Domes</p></a
        >
      </div>
      <div class="filter mb-3">
        <a href="/listings?category=boat"
          ><i class="fa-solid fa-ship"></i>
          <p>Boats</p></a
        >
      </div>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="switchCheckDefault"
        />
        <label class="form-check-label" for="switchCheckDefault"
          >Display Taxes</label
        >
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% if(allListings.length == 0){ %>
    <p>No listings found :/</p>
    <% } %> <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card index-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img"
          alt="listing image"
          style="height: 20rem"
        />
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <% if(listing.updated_at){ %>
          <p class="card-text">
            <small
              >Last updated <%= Math.floor((Date.now() -
              listing.updated_at)/60000) %> mins ago</small
            >
          </p>
          <% } %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b>
            <br />
            <span class="tax-price"
              >&#8377; <%= listing.price.toLocaleString("en-in") %> /
              night</span
            >
            <i class="tax-info">
              &nbsp; &nbsp; +18% GST &nbsp;(₹<%=
              Math.floor((listing.price*0.18)).toLocaleString("en-in")
              %>)
            </i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>

  <script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", () => {
    
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });

    const taxDiv = document.querySelector(".tax-toggle");

    taxSwitch.addEventListener("change", () => {
      if (taxSwitch.checked) {
        taxDiv.style.opacity = "1";
      } else {
        taxDiv.style.opacity = "0.5";
      }
    });
  </script>
</body>
